---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to What a Story">
	<main class="max-w-2xl mx-auto px-8 py-14">
		<h1 class="text-4xl font-bold">Your product is stopping you from <span class="text-gradient">Astro</span> and <span class="text-gradient">Conversions</span></h1>
		<!-- <p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p> -->
		<Card
			title="Web Development"
			description="Being a leading website application development company, our certified developers have unparalleled expertise in working with the latest web technologies to deliver custom web solutions. Whether creating a web presence for your company, an information hub for your business or empowering your apps/IoT devices through backend- IndiaNIC does it all by covering a wide spectrum of web solutions and framework."
		/>
		<Card
			title="AI - ML App Development"
			description="Looking to add intelligence to your existing business application or want to develop a new one? You are in the right place. Our AI-ML engineers will help you do that. We build AI-ML solutions that will save upto 30% cost on your overall business operations. We have expertise in working with tools, frameworks and technologies like TensorFlow, Apache SystemML, Caffe, Apache Mahout, OpenNN, Torch, Neuroph, Mycroft AI, etc. to foster business intelligence to diverse industry verticals."
		/>
		<Card
			title="Quality Assurance (QA)"
			description="We keep Quality Assurance (QA) and software testing services at the core of our ecosystem. IndiaNIC has proven testing experts whose confidence helps in faster releases with uncompromised quality. We perform various tests such as Functional, GUI, Usability, Security, Database testing, Cross-platform, Cross-browser, Accessibility, etc. Our QA experts work with DevOps tools and automated build testing techniques for faster delivery. With us, you will have full access to QA reports to stay updated about test results having all the details."
		/>
		<Card
			title="Hire Dedicated Developers"
			description="Create your own software development team on your time and terms by handpicking the best developers from IndiaNIC. We offer flexible engagement models to hire developers on a short term, long term or permanent basis to ideally suit your business needs. Scale up your development team within 48 hours with ready-to-kick-off experts. We follow a consultative approach to prepare a roadmap that describes the skill set and experience you need based on your project idea."
		/>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
