---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="bg-white border-2 my-4 p-6">
	<h2 class="text-xl font-semibold py-2">{title}</h2>
	<p class="text-base">{description}</p>
</div>
